<div layout="row">
   <div layout-padding layout-xs="column" layout="column" flex="55" style="background-color: #fff;margin: 5px;">
	   <label>About 314 results</label>
		<div layout="row" ng-repeat="userAOWrapper in userAOWrapperList">
        <div flex="25" ng-if="userAOWrapper.user.gender=='Male'">
			<img ng-src="{{userAOWrapper.userProfile.dpPath}}" class="md-card-image" alt="Washed Out" style="height: 220px;width: 200px;" onerror="this.onerror=null;this.src='{{imagePath}}'">
        </div>
        <div flex="25" ng-if="userAOWrapper.user.gender=='Female'">
			<img ng-src="{{userAOWrapper.userProfile.dpPath}}" class="md-card-image" alt="Washed Out" style="height: 220px;width: 200px;" onerror="this.onerror=null;this.src='{{imagePath}}'">
        </div>
        <div layout="column" layout-align="space-between none" flex="70">
			<md-table-container class="sd-data-table-container">
			<table md-table>
				<tbody md-body>
					<tr md-row>
						<td md-cell>Name</td>
						<td md-cell>{{userAOWrapper.user.firstname}} {{userAOWrapper.user.lastname}}</td>
					</tr>
					<tr md-row>
						<td md-cell>Father</td>
						<td md-cell>{{userAOWrapper.family.fatherfirstname}} {{userAOWrapper.family.fatherlastname}}</td>
					</tr>
					<tr md-row>
						<td md-cell>Mother</td>
						<td md-cell>{{userAOWrapper.family.motherfirstname}} {{userAOWrapper.family.motherlastname}} </td>
					</tr>
					<tr md-row>
						<td md-cell>Deity</td>
						<td md-cell>{{userAOWrapper.family.deity}}</td>
					</tr>
					<tr md-row>
						<td md-cell>Goutra</td>
						<td md-cell>{{userAOWrapper.family.goutra}}</td>
					</tr>
					<tr md-row>
						<td md-cell>DOB: </td>
						<td md-cell>{{userAOWrapper.user.dob | date:'fullDate'}}</td>
					</tr>
					<tr md-row>
						<td md-cell>
							Age:
						</td>
						<td md-cell>
							{{userAOWrapper.user.age}}
						</td>
						<td md-cell>
							Height:
						</td>
						<td md-cell>
							{{userAOWrapper.userprofile.height}}
						</td>
					</tr>
					<tr md-row>
						<td md-cell>Education: </td>
						<td md-cell>{{userAOWrapper.education.name}}</td>
					</tr>
					<tr md-row>
						<td md-cell>Work: </td>
						<td md-cell>{{userAOWrapper.work.position}}</td>
					</tr>
					<tr md-row>
						<td md-cell>Home Telephone: </td>
						<td md-cell>{{userAOWrapper.family.homeContactno}}</td>
					</tr>
					<tr md-row>
						<td md-cell>HomeTown: </td>
						<td md-cell>{{userAOWrapper.family.homeAddress.city}} {{userAOWrapper.family.homeAddress.state}}</td>
					</tr>
				</tbody>
			</table>
			</md-table-container>
		</div>
		<div flex="5">
			<md-menu md-position-mode="target-right target">
			  <md-button class="md-icon-button" aria-label="Actions" ng-click="openTableMenu($mdOpenMenu, $event)">
				<md-icon aria-label="Actions" class="zmdi zmdi-more-vert"></md-icon>
			  </md-button>
			  <md-menu-content width="3">
				<md-menu-item>
				  <md-button ng-click="viewProfile(userAOWrapper.user);">
					<md-icon aria-label="View Profile" class="zmdi zmdi-info"></md-icon>View Profile
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="addToWish(userAOWrapper.user.id);">
					<md-icon aria-label="Add to WishList" class="zmdi zmdi-pocket"></md-icon>Add to Wish
				  </md-button>
				</md-menu-item>
				<md-menu-item>
				  <md-button ng-click="addtolike(userAOWrapper.user.id);">
					<md-icon aria-label="Like" class="zmdi zmdi-thumb-up"></md-icon>Like
				  </md-button>
				</md-menu-item>
			</md-menu-content>
			</md-menu>
        </div>
		<md-divider></md-divider>
      </div>
  </div>
  <div  layout-padding style="background-color: #fff;margin: 5px;margin-left: 0px;height: 800px;min-height: 800px;" flex="20">
	  <form id="userFilterForm">
		 <div layout="row">
			<h2>Filters</h2>
			<md-button class="md-primary" ng-click="filterUser();">Apply</md-button>
		</div>	
        <md-content flex>
            <md-tabs md-selected="data.selectedIndex" md-border-bottom style="height: 800px;min-height: 800px;">
                <md-tab id="tab1">
                    <md-tab-label>Personal</md-tab-label>
                    <md-tab-body >
						<div style="padding-top: 20px;">
							<div layout="row" >
								 <md-input-container class="md-block filterMargin">
									<label>First Name</label>
									<input ng-model="userWrapper.firstname" >
								</md-input-container>	
								 <md-input-container class="md-block filterMargin">
									<label>Last Name</label>
									<input ng-model="userWrapper.lastname" >
								</md-input-container>	
							</div>
							<div>
								<label>Age</label>
								<div layout="row" style="padding-top:12px">
									<md-input-container class="md-block filterMargin">
										<label>Min</label>
										<input ng-model="userWrapper.minAge" >
									</md-input-container>
									<md-input-container class="md-block filterMargin">
										<label>Max</label>
										<input ng-model="userWrapper.maxAge" >
									</md-input-container>
								</div>	
							</div>
							<div>
								<label>Salary</label>
								<div layout="row" style="padding-top:12px">
									<md-input-container class="md-block filterMargin">
										<label>Min</label>
										<input ng-model="userWrapper.minSalary" >
									</md-input-container>
									<md-input-container class="md-block filterMargin">
										<label>Max</label>
										<input ng-model="userWrapper.maxSalary" >
									</md-input-container>
								</div>	
							</div>
							<div>
								<md-input-container class="md-block">
									<label>Job Type</label>
									<md-select placeholder="Job Type" ng-model="userWrapper.jobTypes" multiple>
										<md-option value="Government">Government Job</md-option>
										<md-option value="Private">Private Job</md-option>
										<md-option value="Business">Business</md-option>
										<md-option value="None">None</md-option>
									</md-select>
								</md-input-container>
							</div>
							<div>
								<md-input-container class="md-block">
									<label>Education</label>
									<md-select placeholder="Education" ng-model="userWrapper.educations" multiple>
										<md-option value="Highschool">Highschool</md-option>
										<md-option value="University">University</md-option>
										<md-option value="None">None</md-option>
									</md-select>
								</md-input-container>
							</div>	
							<div layout="row">
								<md-input-container class="md-block filterMargin">
									<label>Height</label>
									<input ng-model="userWrapper.height" >
								</md-input-container>
								<md-input-container class="md-block filterMargin">
									<label>Weight</label>
									<input ng-model="userWrapper.weight" >
								</md-input-container>
								<md-input-container class="md-block filterMargin">
									<md-radio-group ng-model="userWrapper.gender" id="gender" name="gender" layout="row" layout-align="start center">
                                            <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                                            <md-radio-button value="Female" class="md-primary"> Female </md-radio-button>
                                    </md-radio-group>
								</md-input-container>
							</div>
							<div>
								<md-input-container class="md-block filterMargin">
									<label>EmailId</label>
									<input ng-model="userWrapper.username" >
								</md-input-container>
							</div>
							<div>
								<md-input-container class="md-block filterMargin">
									<label>Contact No</label>
									<input ng-model="userWrapper.contactno" >
								</md-input-container>
							</div>
							<div>
								<md-input-container class="md-block filterMargin">
									<label>Current City</label>
									<input ng-model="userWrapper.currentcity" >
								</md-input-container>
							</div>
						</div>	
					</md-tab-body>
                </md-tab>
                <md-tab id="tab2">
                    <md-tab-label>Family</md-tab-label>
                    <md-tab-body>
						<div style="padding-top: 20px;">
							<div layout="row">
								 <md-input-container class="md-block filterMargin">
									<label>Father Name</label>
									<input ng-model="userWrapper.fathername" >
								</md-input-container>	
								<md-input-container class="md-block filterMargin">
									<label>Mother Name</label>
									<input ng-model="userWrapper.mothername" >
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container class="md-block filterMargin">
									<label>Deity</label>
									<input ng-model="userWrapper.deity" >
								</md-input-container>
								<md-input-container class="md-block filterMargin">
									<label>Goutra</label>
									<input ng-model="userWrapper.goutra" >
								</md-input-container>
							</div>
							<div>
								<md-input-container class="md-block filterMargin">
									<label>Home City</label>
									<input ng-model="userWrapper.homeCity" >
								</md-input-container>
							</div>
						</div>	
					</md-tab-body>
                </md-tab>
            </md-tabs>  
        </md-content>  
	  </form>
  </div>  
  <div flex="25" style="background-color: #fff;margin: 5px;margin-left: 0px;">
  </div>
  
</div>
