<md-dialog aria-label="Assign Solution Partner" ng-cloak  style="min-width: 510px;">
  <form id="changeUserPasswordForm" name="changeUserPasswordForm" class="form-group ng-invalid-required" ng-init="pwdForm={}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span translate="Change Password"></span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close" class="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="siteinputvaluesection">
        
          <div class="siteinputrow nomargin" layout="row" layout-align="space-between start">
            <md-input-container flex="100" class="md-block">
              <label for="newUserPassword"><span translate="Old Password"></span></label>
            <input type="password" md-maxlength="15" maxlength="15" data-ng-minlength="8" data-ng-model="pwdForm.oldUserPassword" name="oldUserPassword" placeholder="{{'Old Password' | translate }}" ng-required="true"   data-ng-pattern="passwordRegex" >
            <div ng-messages="changeUserPasswordForm.oldUserPassword.$error"  ng-if="changeUserPasswordForm.oldUserPassword.$dirty">
				  <div ng-message="required">
                                  <span translate="This Field is Required"></span>
                            </div>
                  <div ng-messages-include="error-messages"></div>
               </div>
            </md-input-container>
          </div>

          <div class="siteinputrow nomargin" layout="row" layout-align="space-between start">
            <md-input-container flex="100" class="md-block">
             <label for="newUserPassword"><span translate="New Password"></span></label>
            <input type="password" maxlength="15" data-ng-model="pwdForm.newUserPassword" name="newUserPassword"  placeholder="{{'New Password' | translate }}"   data-ng-minlength="8" ng-required="true" ng-change="validatePassword(pwdForm.newUserPassword)" data-ng-pattern="passwordRegex">
             <div ng-show="invalidFormName" class="custom-password">
			   <span style="font-size: 10px; color:green;" ng-class="{'green-password': !message.valid,'red-password': message.valid,}" ng-repeat="message in invalidMsg">
			   <md-icon  style="color:green;  font-size: 13px;height: 14px;" class="zmdi" ng-class="{'zmdi-check-circle green-password': !message.valid,'zmdi-close-circle red-password': message.valid,}"></md-icon>{{message.msg | translate}}<br>
			   </span>
		   </div>
            <div ng-messages="changeUserPasswordForm.newUserPassword.$error"  ng-if="changeUserPasswordForm.newUserPassword.$dirty">
				<div ng-message="required">
                                  <span translate="This Field is Required"></span>
                            </div>
                  <div ng-messages-include="error-messages"></div>
                  <span ng-if="changeUserPasswordForm.newUserPassword.$viewValue==changeUserPasswordForm.oldUserPassword.$viewValue" style="color: #DE370E;font-size: 13px"><span translate="Old Password and New Password shouldn't be same."></span></span>
               </div>
            </md-input-container>
            </div>
              <div class="siteinputrow nomargin" layout="row" layout-align="space-between start">
            <md-input-container flex="100" class="md-block">
              <label><span translate="Re-enter New Password"></span></label>
            <input type="password" data-ng-model="pwdForm.confirmUserpassword" name="confirmUserpassword"  maxlength="15"   placeholder="{{'Confirm Password' | translate }}" data-ng-minlength="8" ng-required="true" data-ng-pattern="passwordRegex" required >
            <div ng-messages="changeUserPasswordForm.confirmUserpassword.$error" ng-if="changeUserPasswordForm.confirmUserpassword.$dirty" >
			<div ng-message="required">
                                  <span translate="This Field is Required"></span>
                            </div>
			<div ng-messages-include="error-messages"></div>
            <span ng-if="changeUserPasswordForm.newUserPassword.$viewValue!=changeUserPasswordForm.confirmUserpassword.$viewValue" style="color: #DE370E;font-size: 13px"><span translate="Password is not same"></span></span>
            </div>
            </md-input-container>
          </div>




        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary md-status-button" ng-click="cancel()"><span translate="Cancel"></span></md-button>
      <md-button class="md-raised md-primary md-status-button" ng-disabled="pwdForm.newUserPassword!=pwdForm.confirmUserpassword || changeUserPasswordForm.$invalid || pwdForm.newUserPassword==pwdForm.oldUserPassword || invalidFormName" ng-click="changePassword($event,pwdForm)" style="margin-left:8px; margin-right:20px;"><span translate="Change Password"></span></md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
