img
{
	max-width:100%;
}
/* for grid view made by varun*/
.dashboard-projectsdetails .projectgridlist .projectgrid .projecttaskbottom-wrapper
{
	height: 98px;
}

.projectgridlist .projectgrid .projecttaskbottom-wrapper
{
	height: 205px;
}

.projectgridlist .projectgrid .projecttaskbottom-wrapper .section1
{
	height:133px;
}

.projectgridlist .projectgrid.released {
  background: #4caf50;
}
.projectgridlist .projectgrid.isp {
  background: #1e5dab;
}
.projectgridlist .projectgrid.gete2 {
  background: #8f8f8f;
}

.projectgridlist .projectgrid.gete1 {
  background: #1e87db;
}

.projectgridlist .projectgrid .projecttaskbottom-wrapper .section1
{
	border-bottom:none;
}
.maincontentview .projectgridholdercontent {
   padding-top:65px !important;
  
}

.maincontentview .projectgridholdercontent-1 {
   margin-top: 160px !important;
   padding-top:0px !important;
   height: 335px;
   overflow-x: hidden !important;
}

.maincontentview .projectgridholdercontent-2 {
   margin-top: 62px !important;
   padding-top:0px !important;
   height: 470px;
   overflow-x: hidden !important;
   overflow-y: auto !important;
}

.maincontentview .projectgridholdercontent-3 {
   margin-top: 60px !important;
   padding-top:0px !important;
   height: 470px;
   overflow-x: hidden !important;
   overflow-y: auto !important;
}

.dashboard-projectsdetails .projectgridholdercontent {
    padding-top: 65px;
}
.projectgridholdercontent {
    padding-top: 155px;
}

md-select.md-docs-dark-theme .md-select-value.md-select-placeholder
{
	color: #fff!important;
}
md-select-menu.md-docs-dark-theme md-option:focus:not([disabled]):not([selected])
{
	background:#2E2E2E;
}
/*css added on 23 may*/
.charts-grid .charts-grid-item {
    padding: 9px !important;
    margin-bottom: 3px !important;
}
.site-data-table tr td { padding-top:5px !important; padding-bottom:5px !important;}

.projectgridlist .projectgrid { min-height:250px;}

.projecttask-custm .highcharts-background {fill: transparent !important;}
.projecttask-custm .highcharts-container {left: -2.5em; top: -2em; width:100% !important; height:100% !important;}
.taskcust1 .highcharts-container { margin-top:25px; margin-left:-10px;}
.top-hed-chart {position: absolute; top: 10px; right: 0; z-index: 1; color: #000;}
.top-hed-chart strong { float:left; width:100%; font-size:10px;}
.top-hed-chart span {float:left; width:100%;}

.top-hed-labels {position: absolute; top: 130px; left: 30px; z-index: 1; color: #000;}
.top-hed-labels ul, .top-hed-labels ul li { width:100%; margin:0; padding:0; list-style-type:none; font-size:8px; float:left;}
.top-hed-labels ul li span {
    float: left;
    margin-left: 3px;
    white-space: nowrap;
    margin:auto;
    text-overflow: ellipsis;
    overflow: hidden;
	margin-top:2px;
}
.top-hed-labels ul li .yellow-col {background:rgb(255, 204, 52); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.top-hed-labels ul li .green-col {background:rgb(34, 177, 97); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.top-hed-labels ul li .lightGreen-col {background:rgb(71, 209, 71); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.top-hed-labels ul li .blue-col {background:rgb(25, 151, 200); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.top-hed-labels ul li .orange-col {background:rgb(242, 99, 34); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.top-hed-labels ul li .red-col {background:rgb(230, 0, 0); width:10px; height:7px; float:left; margin-top:3px; margin-right:3px;}
.progress-container { width:100%; margin-top:70px;}
.progress
{
	width:100%;
	height:13px;
	background:#699ad2; float:left; 
}
.rowchart2
{
	top: 120px;
/*
	left: 120px;
*/
}
.rowchart3
{
	top: 40px;
	left: 120px;
}
.md-icon-fltr-close {
    margin: 10px 0 0 0 !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0px !important;
}
.md-toolbar-padd {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.md-table-dash-fltr {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 150px;
    width: 100%;
}
.progress span
{
	height:13px;
	background:#215eab;
	float:left;
	transition:0.1s;
}
.progress-labl-L { float:left; color:#000; font-size:11px;}
.progress-labl-R { float:right; color:#000; font-size:11px; text-align:right;}
.progress-dubble-label { font-size:10px;
    float: left;
    width: 100%;
    color: #000;
}
.progress-container-dubble { width:100%; margin-top:30px; float:left;}
.progress-dubble-top {
	width:100%;
	height:13px;
	background:#F8711F; float:left; 
}
.progress-dubble-top span
{
	height:13px;
	background:#B94906;
	float:left;
	transition:0.1s;
}
.progress-dubble-bot {
	width:100%;
	height:13px;
	background:#F8711F; float:left; 
}
.progress-dubble-bot span
{
	height:13px;
	background:#B94906;
	float:left;
	transition:0.1s;
}


.md-stepper-tools .md-step-title {
white-space: nowrap;
line-height: 30px;
font-size: 14px;
}
.top-hed-chart-left { float:left; width:45%; color: #000; margin-top:15px; text-align:right;}
.top-hed-chart-left strong { float:left; width:100%; font-size:10px;}
.top-hed-chart-left span {float:left; width:100%;}
.top-hed-chart-right {float:right; width:48%; color: #000; margin-top:15px; text-align:right;}
.top-hed-chart-right strong { float:left; width:100%; font-size:10px;}
.top-hed-chart-right span {float:left; width:100%;}
.clear { float:left;}
.sd-app-maincontent .scrollcontainer .scrollercontent.dashboard > div
{
	position: relative;
	height: 100%;
	overflow: hidden;
}
.dashboard .maincontentview
{
	position: relative;
    overflow: hidden;
    height: 100%;
}
.dashboard .maincontentview .scrollfixcontainer
{
	position: relative;
	overflow: hidden;
	height: 100%;
	height: 100%;
}

md-sidenav-backdrop md-opaque ng-scope md-locked-open
site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-closed
/*
md-input-container label.md-paceholder-1:not(.md-container-ignore) {
position: absolute;
bottom: 100%;
left: 0;
right: auto;
color: rgba(255, 255, 255, 1) !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label.md-paceholder-1 {
color: rgba(255, 255, 255, 1) !important;
}


.md-select-value *:first-child {
-webkit-flex: 1 0 auto;
-ms-flex: 1 0 auto;
flex: 1 0 auto;
text-overflow: ellipsis;
color: white !important;
white-space: nowrap;
overflow: hidden;
-webkit-transform: translate3d(0, 2px, 0);
transform: translate3d(0, 2px, 0);
}

md-select.md-select-custom.md-default-theme .md-select-value, md-select .md-select-value {
border-bottom-color: rgba(255, 255, 255, 1);
}

md-input-container label.md-paceholder-1:not(.md-container-ignore) {
color: rgba(255, 255, 255, 1) !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label.md-paceholder-1, md-input-container:not(.md-input-invalid).md-input-focused label.md-paceholder-1 {
color: rgb(255, 255, 255) !important;
}

md-input-container .md-input-1[readonly] {
border-color: rgb(255, 255, 255) !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input-1, md-input-container:not(.md-input-invalid).md-input-focused .md-input-1 {
border-color: rgb(255, 255, 255) !important;
}

md-input-container .md-input-1 {
color: rgb(255, 255, 255) !important;
}

md-input-container.md-default-theme .md-input-1, md-input-container .md-input-1 {
color: rgb(255, 255, 255) !important;
}

md-input-container:not(.md-input-has-value) input.md-input-1:not(:focus) {
color: rgb(255, 255, 255) !important;
}

md-input-container label.md-paceholder-1 .md-select-value .md-select-icon {
color: rgb(255, 255, 255) !important;
}

*/

.sd-app-maincontent .scrollcontainer .scrollercontent.dashboard-processdashboard > div
{
	position: relative;
	height: 100%;
	overflow: hidden !important;
}

.dashboard-processdashboard .maincontentview {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.dashboard-processdashboard .maincontentview .scrollfixcontainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    
}

.dashboard-processdashboard .maincontentview .projectgridholdercontent-1
{
	overflow:scroll;
}
.dashboard-processdashboard .maincontentview .projectgridholdercontent-2
{
	overflow:scroll;
}


................................




.sd-app-maincontent .scrollcontainer .scrollercontent.dashboard-sites > div
{
	position: relative;
	height: 100%;
	overflow: hidden !important;
}

.dashboard-sites .maincontentview {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.dashboard-sites .maincontentview .scrollfixcontainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.dashboard-sites .maincontentview .projectgridholdercontent-1
{
	overflow:scroll;
}
.dashboard-sites .maincontentview .projectgridholdercontent-2
{
	overflow:scroll;
}





