<div layout-padding flex>
	<div layout="row" flex>
		<div flex="35">
			<div flex id="countByEducationLevelUsingGroupByCONTAINER" ></div>
		</div>
		<div flex="35">
			<div flex  id="countByEducationCoursenameUsingGroupByCONTAINER"></div>
		</div>
		<div flex="30">
			Ad
		</div>
	</div>
</div>

<!--
style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"
<div class="width-full">
<div ng-if="dashboards.length==0" class="material-expression-custom" style="top:42%;">
	<span class="img"></span>
	<label>No Data Found</label>
</div> 
<md-content class="contentviewwrapper contentnobackground contentnomargin md-padding" ng-cloak ng-if="dashboards.length > 0" style="padding: 12px;">
	<md-tabs md-dynamic-height md-border-bottom ng-class="{'dashboard-generic': !showAllDashboards}" class="tab-width-style-auto">
		<div ng-repeat = "dashboard in dashboards"> 
			<md-tab label={{dashboard.title}}  md-on-select="getRenderChart(dashboard)"></md-tab>
		</div>
    </md-tabs>
    <md-content data-ng-include="currenttabLink"></md-content>
 </md-content>
</div>
-->

