<style>
.erreo-main-Subhed {
    font-size: 22px;
    font-weight: 200;
    color: #868383;
    margin: 15px 0 0 0;
    text-align:center;
    line-height: 20px;
}
.h1-404 {font-size: 105px;
    color: #424443;
    text-align: center;
    font-weight: 300;
    margin: 0;}
.go-back-link-contain {text-align:center; display:inline-block;}
.go-back-link { text-decoration:none; display:inline-block; text-align:center; color:#51b7e8; font-size:15px; margin-top: 20px;}
.go-back-link:hover, .go-back-link:active, .go-back-link:focus { text-decoration:none; color:#51b7e8;}
.img-mrgn-top { margin-top:50px;}





</style>
<md-content class="contentviewwrapper md-padding" layout="column" layout-wrap layout-xs="column" ng-cloak style="min-height:500px; background:#f5f5f5;">
	<div layout="row" layout-align="center center"><img class="img-mrgn-top" src="../app/assets/img/error-404.jpg"></div>
	<h1 class="h1-404">404</h1>
	<h3 class="erreo-main-Subhed">Page Not Found</h3>
	<h3 class="erreo-main-Subhed">We looked everywhere but we couldn’t find it!</h3>
	<div flex layout="row" class="go-back-link-contain">
	<a class="go-back-link" href="javascript:void(0)" data-ng-click="GoBackonMenuPage()">Go back</a>
	</div>
		
</md-content>

