<div layout="row">
	<div layout-padding layout-xs="column" layout="column" flex="55" style="background-color: #fff;margin: 5px;">
		<label>About {{userAOWrapperCount}} results</label>
		 <div layout="row" ng-if="!userAOWrapperCount">
			 Data not available
		 </div>
		 <div layout="row" ng-repeat="userAOWrapper in userAOWrapperList" >
			 <md-content class="md-padding" flex>
				 <div layout="column">
					 <md-card md-theme="default" md-theme-watch>
						 <md-card-title>
						 <md-card-title-text>
							 <span class="md-headline">{{userAOWrapper.targetuser.firstname}} {{userAOWrapper.targetuser.lastname}}</span>
							 <span class="md-subhead">Father: {{userAOWrapper.targetuser.userProfile.family.fatherfirstname}} {{userAOWrapper.targetuser.family.userProfile.fatherlastname}}</span>
							 <span class="md-subhead">Mother: {{userAOWrapper.targetuser.userProfile.family.motherfirstname}} {{userAOWrapper.targetuser.userProfile.family.motherlastname}}</span>
							 <span class="md-subhead">Deity: {{userAOWrapper.targetuser.userProfile.family.deity.name}}</span>
							 <span class="md-subhead">Goutra: {{userAOWrapper.targetuser.userProfile.family.goutra.name}}</span>
							 <span class="md-subhead">DOB: {{userAOWrapper.targetuser.dob | date:'fullDate'}}</span>
							 <span class="md-subhead">Age: {{userAOWrapper.targetuser.age}} Height: {{userAOWrapper.targetuser.userProfile.height}}</span>
							 <span class="md-subhead">Education: {{userAOWrapper.targetuser.userProfile.education.coursename}}</span>
							 <span class="md-subhead">Work:{{userAOWrapper.targetuser.userProfile.work.position}}</span>
							 <span class="md-subhead">Home contact no:{{userAOWrapper.targetuser.userProfile.family.homeContactno}}</span>
							 <span class="md-subhead">Home Address:{{userAOWrapper.targetuser.userProfile.family.homeAddress.city}} {{userAOWrapper.targetuser.userProfile.family.homeAddress.state}}</span>
						 </md-card-title-text>
						 <md-card-title-media>
							 <div class="md-media-lg card-media">
								 <img ng-src="{{userAOWrapper.targetuser.userProfile.dpPath}}" class="md-card-image" alt="Image not found" style="height: 220px;width: 200px;" ng-error="this.onerror=null; this.src='{{imagePath}}'">
							 </div>
						 </md-card-title-media>
						 </md-card-title>
						 <md-card-actions layout="row" layout-align="end center">
							 <md-button ng-click="addtolike(userAOWrapper.user.id);">
								 <md-icon aria-label="Like" class="zmdi zmdi-thumb-up"></md-icon>Like
							   </md-button>
							 <md-button ng-click="viewProfile(userAOWrapper.targetuser);">
								 <md-icon aria-label="View Profile" class="zmdi zmdi-info"></md-icon>View Profile
							 </md-button>
							 <md-button ng-click="removeFromWish(userAOWrapper.targetuser.id);">
								 <md-icon aria-label="Remove from Wish" class="zmdi zmdi-pocket"></md-icon>Add to Wish
							 </md-button>
						 </md-card-actions>
					 </md-card>
				 </div>
			 </md-content>
		 </div>
	</div>
  <div flex="45" style="background-color: #fff;margin: 5px;margin-left: 0px;">
  </div>
  
</div>
