
	<div layout="row" layout-align="center center">

  <img src="../app/assets/img/sad-cloud.png" width="140" height="95" alt="">

</div>  
 
  <div layout="row" layout-align="center center">
	 <span class="md-title" style="font-size:30px; margin-bottom:20px;" > Improve your Experience</span>
  </div>
  <div layout="row" layout-align="center center">
	  <span class="md-subhead">
		  You're Using a Web Browser we don't support.
	  </span>
  </div>
  <div layout="row" layout-align="center center">
	  <span class=""></span>Try One of These Options to have a better experience on App
  </div>
  <div layout="row" style="margin-top:20px;">
	  <span>
	  <img src="../app/assets/img/chrome.png" style="margin:25px;" ></br>
	  <div style="text-align:center;">Google Chrome</div></br>
	  <div style="text-align:center;">V 48+</div>
	  
	  </span>
	   <span>
	   <img src="../app/assets/img/mozilla.png"  alt="" style="margin:25px;"  >
	   <div style="text-align:center;">Mozilla Firefox</div></br>
	  <div style="text-align:center;">V 46+</div>
	  
	   </span>
	      <span>
	   <img src="../app/assets/img/safari.png"  alt=""  style="margin:25px;">
	   <div style="text-align:center;">Safari</div></br>
	  <div style="text-align:center;">V 9+</div>
	  
	   </span>
	   
	       <span>
	     <img src="../app/assets/img/internet-explorer.png" alt="" style="margin:25px;"  > 
	   <div style="text-align:center;">Microsoft-Internet-Explorer</div></br>
	  <div style="text-align:center;">V 10+</div>
	  
	   </span>
	    
  </div>
