
  <img src="../app/assets/img/logo-sidebar1.png" width="268" height="46" alt="">
  
 <div >
			<h3 style='color:white'>Forgot Password</h3>
			<div id='captcha_error' style='width:343px;'></div>
			<form name="ForgotPasswordForm" id='forgot_form'  action="./validate.jsp"    method="post" novalidate>	
	  <md-input-container class="md-block">
        <label class="loginLabel">Username</label>
        <input  autocomplete="off" ng-model="username_onscreen"  id="j_username_onscreen"  type="text"  ng-focus="focusEventTriggered($event)" ng-blur="blurEventTriggered($event)" name='usernameForgotPass'>
      </md-input-container>
      	<span  style="color:red;margin-bottom:10px;" ng-show="submitted && ForgotPasswordForm.usernameForgotPass.$error.required">Username is required</span>
      	
      	<noscript>
   <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LdlHOsSAAAAAM8ypy8W2KXvgMtY2dFsiQT3HVq-"
       height="300" width="500" frameborder="0"></iframe><br>
   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
   </textarea>
   <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
    </noscript>
 
     
       
    </form>
  </div>



<!--
 <script type="text/javascript-lazy"
				src="https://www.google.com/recaptcha/api/challenge?k=6LdlHOsSAAAAAM8ypy8W2KXvgMtY2dFsiQT3HVq-"></script>	

-->
