
  <img src="../app/assets/img/logo-sidebar1.png" width="268" height="46" alt="">
  
<!--
 <h3 style='color:white'>Reset Password</h3>
-->
			<div id='captcha_error' style='width:343px;'>
				<font color="red">{{resetErrorMsg}}</font>
			</div>
   
    <form name="resetLinkForm" ng-submit=""  action="{{action}}" method='post'>	
			
	  <md-input-container class="md-block">
        <label class="loginLabel">New Password</label>
        <input autocomplete="off"  type="password" placeholder="New Password"  name='newPassword'  ng-model="newpassword_onscreen"  id="j_newpassword_onscreen"  required ng-change="validatePassword(resetLinkForm.newPassword.$valid)">
          <div ng-show="invalidFormName">
                           <span style="font-size: 10px; color:green;" ng-class="{'green-password': !message.valid,'red-password': message.valid,}" ng-repeat="message in invalidMsg">
                           <md-icon  style="color:green;  font-size: 15px;height: 14px;" class="zmdi" ng-class="{'zmdi-check-circle green-password': !message.valid,'zmdi-close-circle red-password': message.valid,}"></md-icon>{{message.msg}}<br>
                           </span>
         </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label class="loginLabel">Confirm Password</label>
        <input type="password" id='confirmpassword' placeholder="Confirm Password" ng-model="confirmpassword_onscreen" autocomplete="off" required name="confirmpassword" ng-change="validatePassword(resetLinkForm.confirmpassword.$valid)">	
      </md-input-container>
      <div layout="row">

        <div flex></div>
        <md-button type="button"  id="Login_button" class="md-raised md-primary" ng-click="submitForm(resetLinkForm.$valid);" >Change  </md-button>
      </div>
    </form>
  </div>
